@use "../../styles/basic" as *;

.form-container {
  height: 120vh;
  width: 100%;
  @include flexCenter;
}

form {
  @include flexCenter;
  flex-direction: column;
  label {
    margin: 15px;
  }
  span {
    font-size: 20px;
    font-family: $font-secondary;
    margin: 10px;
    @media only screen and (max-width: $media-small) {
      font-size: 14px;
    }
  }

  input {
    @include btnDefault;
    @media only screen and (max-width: $media-small) {
      font-size: 14px;
    }
  }
  textarea {
    @include btnDefault;
    width: 25rem;
    @media only screen and (max-width: $media-small) {
      font-size: 14px;
      width: 15rem;
    }
  }

  button {
    padding: 10px;
    @include btnDefault;
    @media only screen and (max-width: $media-small) {
      font-size: 14px;
      padding: 5px;
    }
    &:hover {
      @include btnHoverEffect;
      @media only screen and (max-width: $media-small) {
        font-size: 14px;
      }
    }
  }
}

.contact-title {
  font-size: 45px;
  font-family: $font-primary;
  margin: -20px 0;

  @media only screen and (max-width: $media-small) {
    font-size: 25px;
  }
}

.success {
  font-size: 16px;
  font-family: $font-secondary;
  padding: 20px;
  margin: -20px 0;
  color: rgb(93, 202, 126);
  @media only screen and (max-width: $media-small) {
    font-size: 12px;
  }
}

.drop-line {
  font-size: 20px;
  font-family: $font-secondary;
  padding: 15px;
  margin: 20px 0;
  color: $color-secondary;

  @media only screen and (max-width: $media-small) {
    font-size: 12px;
  }
}

.email {
  font-family: $font-secondary;
  font-size: 22px;
}
