@use "../../styles/basic" as *;

.works-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 25px;
}

.works-title-container {
  @include flexCenter;
  flex-direction: column;
}

.works-title {
  font-family: $font-primary;
  font-size: 45px;
  @media only screen and (max-width: $media-medium) {
    margin: -5px 0;
    font-size: 35px;
  }
  @media only screen and (max-width: $media-small) {
    margin: -10px 0;
    font-size: 25px;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-links {
  @include btnDefault;
  text-decoration: none;
  padding: 6px;
  margin: 6px;
  font-size: 16px;

  @media only screen and (max-width: $media-small) {
    padding: 6px;
    margin: 6px;
  }
  @media only screen and (max-width: $media-medium) {
    padding: 6px;
    margin: 6px;
    font-size: 12px;
  }

  &:hover {
    @include btnHoverEffect;
  }
}

.desc-container {
  width: 50%;
  margin: auto;
  p {
    font-family: $font-secondary;
    font-size: 20px;
    text-align: justify;
  }
}
