@use "../../styles/basic" as *;

.works-container {
  @include flexCenter;

  .works-subcontainer {
    width: 100%;
    background-color: rgb(54, 52, 59);
  }
}

.works {
  height: 25vh; // has to change
  width: 50%;
  border: 1px solid $color-primary;
  margin: auto;
  overflow: hidden;
  background-color: black;

  @media only screen and (max-width: $media-small) {
    height: 10vh;
    width: 60%;
  }
  @media only screen and (max-width: $media-medium) {
    height: 25vh;
    width: 70%;
  }
}

.browser {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.red {
  background-color: rgba(255, 0, 0, 0.7);
  @include circle;
}
.grey {
  background-color: rgba(128, 128, 128, 0.7);
  @include circle;
}
.green {
  background-color: rgba(0, 128, 0, 0.7);
  @include circle;
}

.img {
  width: 100%;
  transition: all 10s ease;
  &:hover {
    transform: translateY(-80%);
  }
}
